body{
	font-family: 'Fira Sans', sans-serif;
	font-weight:400;
	font-size:14px;
	background-color:#fafafa;
}


h1 {
	font-size:45px;
	font-weight:300;
}

h2 {
	margin: 0;
	padding: 0;
	margin-top: 27px;
	margin-left: 27px;
	font-size: 27px;
}

.cut {
	min-width:970px;
	max-width:1024px;
	margin: 0px auto;
	overflow: hidden;
}

.container {
	min-width:970px;
	max-width:1024px;
	margin: 0px auto;
	-border:1px solid red;
}

.logo{
	position:relative;
	width:120px;
}

.contKeyboard{
	height:97px;
}

.keyboard{
	margin-top:25px;	
	margin-left:-18px;	
	position: absolute;
}

#circle {
	margin-top:7px;
	top:0;
	position: absolute;
	width: 90px;
	height: 90px;
	background: #151515;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-khtml-border-radius: 50px;
}

.logoStatic{
	float:left;
	-border: 1px solid blue;
}

.name{
	float:left;
	margin-top:47px;
	text-transform:uppercase;
	-border: 1px solid blue;
}

nav{
	-position: absolute;
	float:left;
	margin-top:70px;
}

nav ul li{
	float:left;
	list-style:none;
	padding:0px 31px;
	-border: 1px solid blue;
}

nav li:first-child{
	padding-left:0px;
}

nav li:last-child{
	padding-right:0px;
}


nav ul li a{
	color:black;
	font-size:17px;
	font-weight: 700;
	text-decoration:none;
}

nav ul li a:hover{
	color:#979797;
}

.action{
	color:#d0d0d0;
}

.contact{
	width:135px;
	float:right;
	margin-top:43px;
	-border: 1px solid #000;
	font-weight: 400;
}

.tel{
	float:right;
	list-style:none;
}

.email{
	float:right;
}

.lineHead{
	margin-top:12px;
	height:1px;
	background:#eaebec;
	
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-ms-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-o-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-khtml-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.linefooter{
	margin-top:35px;
	height:1px;
	background:#eaebec;
	
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-ms-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-o-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-khtml-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.clear{
	clear:both;
}

.all{
	position:relative ;
	width:calc(100% + 5px);
	height:193px;
	-border: 1px solid blue;
	-outline: 1px solid #666;
	overflow:hidden;
	-margin-top:35px;
	padding-left:3px;
}

.containerBanner{
	height:482px;
	overflow:hidden;
}

.borderSkils{
	float:left;

	margin-top: 7px;
	width:calc((100%/4) - 18px);
	margin-left:20px;
	height:181px;
	border: 1px solid #dedede;
	/*background-color:white;*/
	
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	-ms-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	-o-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	-khtml-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

.borderSkilsTheRest{	
	width:100%;
	margin-top:20px;
	/*height:300px;*/
	border: 1px solid #dedede;
	/*background-color:white;*/
	
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	-ms-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	-o-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	-khtml-box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

.borderSkils:first-child{
	margin-left:0px;
}

.borderSkils p{
	margin-top:27px;
	margin-left:41px;
	line-height:15px;
}

.borderSkils .title{
	font-size:22px;
	font-weight:700;
	line-height:35px;
}

.borderSkilsTheRest .titleRest{
	font-size:22px;
	font-weight:300;
	line-height:35px;
	margin-top:27px;
	margin-left:41px;
	line-height:15px;
}

.borderSkilsTheRest{
	overflow:hidden;
	/*height:410px;*/
	margin-top:27px;
	/*margin-left:41px;*/
}

.SkilsOfBank{
	display:inline-block;
	float:left;
	width:435px;
	margin-left:41px;
	margin-top:27px;
	line-height:15px;
	-border:1px solid red;
}

.SkilsOfBank .titleBank{
	font-size:22px;
	font-weight:700;
	line-height:35px;
	color: #444;
}

.bannerText{
	display:inline-block;
	position:absolute;
	top:260px;
	color:white;
	margin-left:550px;
}

.bannerText .bannerTitle{
	font-size:100px;
	margin-left:-23px;
	font-weight:700;
}

.centerP{
	margin: 0px auto;
	-border: 1px solid red;
	width:800px;
}

.bannerTextPortfolio{
	display:inline-block;
	position:absolute;
	top:100px;
	
	font-size:150px;
	font-weight:700;
	color:black;
	-border: 1px solid black;
	
}

.contentPortfolio{
		margin-top:40px;
		background: url(img/contentPortfolio.jpg) repeat-x #fafafa;
		height:650px;
		
}

.AllignComposition{
	margin: 35px auto;
	width:590px;
	font-weight:400;
}

.AllignComposition .composition{
	text-align:center;
}

.boast{
	margin-top:20px;
}

.collage{
	margin-top:40px;
}

.ax{
	/*float:left;*/
	margin: 0px 135px;
}

.textConstructor{
	/*float:left;*/
	margin-left:10px;
	margin-top:29px;
	font-weight:400;
}

.containerBady{
	margin: 200px auto;
	width:450px;
	font-weight:400;
	overflow:hidden;
}

.containerBannerHobby .imgTitle{
	font-size:22px;
	font-weight:700;
	line-height:35px;
}

.containerBannerHobby p{
	display:inline-block;
}

.containerBannerHobby{
	overflow:hidden;
	-border: 1px solid blue;
}

.ImgText{
	float:left;
	text-align:center;
	-border: 1px solid blue;
	width:calc((100%/3) - 17px);
}

.ImgText:last-child{
	float:right;
	text-align:right;
}
.ImgText:first-child{
	float:left;
	text-align:left;
}

.ImgText:nth-child(2){
	margin-left:-40px;
}

.img01Text{
	width:216px;
	text-align:center;
}
.img02Text{
	width:369px;
	text-align:center;
}
.img03Text{
	width:302px;
	text-align:center;
}

.image{
	
}


























.slider__images {
	position: relative;

	overflow: hidden;

	width: 1024px;
	height: 529px;
	margin: 0 auto;
}

.slider__images-wrap {
	font-size: 0;

	height: 529px;

	white-space: nowrap;

	transition: margin .5s ease-out;
}

.slider__navigation {
	width: 1024px;
	margin: 0 auto;
}


.slider__pager {
	margin-top: 3px;

	text-decoration: none;
}

.slider__pager_previous {
	float: left;

	margin-right: 5px;
}

.slider__pager_next {
	float: left;

	margin-right: 5px;
}

.slider a:link,
.slider a:visited {
	color: #333333;
}

.slider a:hover,
.slider a:active {
	color: #9e2020;
}

.slider__pagination {
	float: left;
	margin-left: calc(83%/2);
	margin-bottom: 15px;
	-margin: 6px 0 0;

	list-style: none;
}

.slider__pagination li {
	float: left;

	margin: 0 1px;
}

.slider__pagination li a {
	display: block;
	float: left;
	overflow: hidden;

	width: 13px;
	height: 0;
	padding-top: 13px;

	background-image: url('img/pagination.png');
	background-position: 0 0;
}

.slider__pagination li a.active,
.slider__pagination li a:hover.active {
	background-position: 0 -13px;
}

.slider__pagination li a:hover {
	background-position: 0 -26px;
}
