body{
	font-family: 'Fira Sans', sans-serif;
}


h1 {
	font-size:45px;
	font-weight:300;
}


.container {
	width:930px;
	margin: 0px auto;
	border: 1px solid red;
}

.logo{
	position:relative;
	width:120px;
}

.contKeyboard{
	height:97px;
}

.keyboard{
	margin-top:25px;	
	margin-left:-18px;	
	position: absolute;
}

#circle {
	margin-top:7px;
	top:0;
	position: absolute;
	width: 90px;
	height: 90px;
	background: #428bca;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-khtml-border-radius: 50px;
}

.logoStatic{
	float:left;
	border: 1px solid blue;
}

.name{
	float:left;
	margin-top:47px;
	text-transform:uppercase;
	border: 1px solid blue;
}

nav{
	float:left;
	margin-top:70px;
	margin-left:35px;
}

nav ul li{
	float:left;
	list-style:none;
	padding:0px 31px;
	border: 1px solid blue;
}

nav li:first-child{
	padding-left:0px;
}

nav li:last-child{
	padding-right:0px;
}


nav ul li a{
	color:black;
	font-size:17px;
	font-weight: 700;
	text-decoration:none;
}

.contact{
	float:right;
	margin-top:43px;
	border: 1px solid blue;
}

.lineHead{
	margin-top:12px;
	height:1px;
	background:#eaebec;
	
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-moz-   box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-ms-    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-o-     box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-khtml- box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.clear{
	clear:both;
}




























