body{
	font-family: 'Fira Sans', sans-serif;
	font-weight:300;
	font-size:14px;
}


h1 {
	font-size:45px;
	font-weight:300;
}


.container {
	min-width:970px;
	max-width:1024px;
	margin: 0px auto;
	-border: 1px solid red;
}

.logo{
	position:relative;
	width:120px;
}

.contKeyboard{
	height:97px;
}

.keyboard{
	margin-top:25px;	
	margin-left:-18px;	
	position: absolute;
}

#circle {
	margin-top:7px;
	top:0;
	position: absolute;
	width: 90px;
	height: 90px;
	background: #428bca;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-khtml-border-radius: 50px;
}

.logoStatic{
	float:left;
	-border: 1px solid blue;
}

.name{
	float:left;
	margin-top:47px;
	text-transform:uppercase;
	-border: 1px solid blue;
}

nav{
	position:absolut;
	float:left;
	margin-top:70px;
	margin-left:5%;
}

nav ul li{
	float:left;
	list-style:none;
	padding:0px 31px;
	-border: 1px solid blue;
}

nav li:first-child{
	padding-left:0px;
}

nav li:last-child{
	padding-right:0px;
}


nav ul li a{
	color:black;
	font-size:17px;
	font-weight: 700;
	text-decoration:none;
}

nav ul li a:hover{
	color:#979797;
}

.contact{
	float:right;
	margin-top:43px;
	-border: 1px solid blue;
	font-weight: 300;
}

.lineHead{
	margin-top:12px;
	height:1px;
	background:#eaebec;
	
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-moz-   box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-ms-    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-o-     box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-khtml- box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.linefooter{
	margin-top:50px;
	height:1px;
	background:#eaebec;
	
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-moz-   box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-ms-    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-o-     box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-khtml- box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.clear{
	clear:both;
}

.all{
	position:relative ;
	width:calc(100% + 5px);
	height:187px;
	-border: 1px solid blue;
	-outline: 1px solid #666;
	overflow:hidden;
}

.borderSkils{
	float:left;
	
	width:calc((100%/4) - 18px);
	margin-left:20px;
	height:181px;
	border: 1px solid #dedede;
	
	box-shadow: 3px 5px 5px rgba(0,0,0,0.1);
	-moz-   box-shadow: 3px 5px 5px rgba(0,0,0,0.1);
	-webkit-box-shadow: 3px 5px 5px rgba(0,0,0,0.1);
	-ms-    box-shadow: 3px 5px 5px rgba(0,0,0,0.1);
	-o-     box-shadow: 3px 5px 5px rgba(0,0,0,0.1);
	-khtml- box-shadow: 3px 5px 5px rgba(0,0,0,0.1);
}
/*
.borderSkils:nth-child(1){
	left:0;
}

.borderSkils:nth-child(2){
	-width: calc(100%-460px);
	-margin-left:calc(100%-460px);
	left:50%;
}

.borderSkils:nth-child(3){
	left:calc(100%-460px);
}

.borderSkils:nth-child(4){
	right:0;
}
*/
.borderSkils:first-child{
	margin-left:0px;
}

.borderSkils p{
	margin-top:27px;
	margin-left:41px;
	line-height:15px;
	
}

.borderSkils .title{
	font-size:22px;
	font-weight:700;
	line-height:35px;
}































